include blocks/blocks.pug
include blocks/libs/libs.pug

doctype html
html.page(lang='ru')
  block head
  body.page__body
    .page__container.container
      block header
      main.page__content
        block content
      block footer
        +footer
