@use "../common/variables.scss";

.academy-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(1.2rem, 18px);
  text-decoration: none;
  color: variables.$text-primary;

  @media (min-width: variables.$tablet) {
    gap: min(1.2rem, 15px);
  }

  @media (min-width: variables.$desktop) {
    gap: min(1.2rem, 18px);

  }

  &:is(:hover, :focus) {
    color: variables.$color-primary;
  }

  &:active {
    color: variables.$text-primary-active;
  }
}

.academy-logo__text {
  font-size: min(1.4rem, 21px);
  line-height: min(2.1rem, 31px);
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    font-size: min(1.4rem, 18px);
    line-height: min(2.1rem, 27px);
  }

  @media (min-width: variables.$desktop) {
    font-size: min(1.4rem, 21px);
    line-height: min(2.1rem, 31px);
  }
}

.academy-logo__image {
  width: min(2.7rem, 40px);
  height: min(3.4rem, 51px);

  @media (min-width: variables.$tablet) {
    width: min(2.7rem, 34px);
    height: min(3.4rem, 43px);
  }

  @media (min-width: variables.$desktop) {
    width: min(2.7rem, 40px);
    height: min(3.4rem, 51px);
  }
}
