@use "../common/variables.scss";
@use "../common/mixins.scss";

.advantages {
  padding-top: 32px;
  background-color: variables.$color-secondary;
  text-align: center;

  @media (min-width: variables.$tablet) {
    padding-top: 47px;
  }

  @media (min-width: variables.$desktop) {
    padding-top: 59px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: variables.$tablet) {
    margin-bottom: 28px;
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: 25px;
  }
}

.advantages__description {
  max-width: 284px;
  margin: 0 auto;
  margin-bottom: 15px;

  @media (min-width: variables.$tablet) {
    max-width: 520px;
    margin-bottom: 55px;
  }

  @media (min-width: variables.$desktop) {
    max-width: 520px;
    margin-bottom: 44px;
  }
}

.advantages__wrapper {
  padding-top: 37px;
  background-color: variables.$color-primary;
  background-image: url("../img/advantages-decor.svg");
  background-repeat: no-repeat;
  background-size: 100% 37px;
  background-position: center top;

  @media (min-width: variables.$tablet) {
    padding-top: 0;
    background-image: none;
  }
}

.advantages__list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  &:has(img) {
    @media (min-width: variables.$tablet) {
      grid-column: 1 / -1;
    }
  }
}
