@use "../common/variables.scss";
@use "../common/mixins.scss";

.advantages {
  padding-top: min(3.2rem, 48px);
  background-color: variables.$color-secondary;
  text-align: center;

  @media (min-width: variables.$tablet) {
    padding-top: min(4.8rem, 61px);
  }

  @media (min-width: variables.$desktop) {
    padding-top: min(5.9rem, 88px);
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: min(3.5rem, 52px);

  @media (min-width: variables.$tablet) {
    margin-bottom: min(2.8rem, 36px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: min(2.6rem, 39px);
  }
}

.advantages__description {
  max-width: min(28.4rem, 426px);
  margin: 0 auto;
  margin-bottom: min(1.5rem, 22px);

  @media (min-width: variables.$tablet) {
    max-width: min(52rem, 663px);
    margin-bottom: min(5.5rem, 70px);
  }

  @media (min-width: variables.$desktop) {
    max-width: min(52rem, 780px);
    margin-bottom: min(4.2rem, 63px);
  }
}

.advantages__wrapper {
  padding-top: min(3.7rem, 55px);
  background-color: variables.$color-primary;
  background-image: url("../img/sprite.svg#advantages-decor");
  background-repeat: no-repeat;
  background-size: 100% min(3.7rem, 55px);
  background-position: center top;

  @media (min-width: variables.$tablet) {
    padding-top: 0;
    background-image: none;
  }
}

.advantages__list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  &:has(img) {
    @media (min-width: variables.$tablet) {
      grid-column: 1 / -1;
    }
  }
}
