@use "../common/variables.scss";

.button {
  display: grid;
  place-content: center;
  padding: min(1.7rem, 25px) min(1.6rem, 24px) min(1.5rem, 22px);
  font-family: variables.$font-primary;
  font-size: min(2.1rem, 31px);
  line-height: min(2.6rem, 39px);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: variables.$text-special;
  background-color: variables.$color-primary;
  border: none;
  cursor: pointer;

  @media (min-width: variables.$tablet) {
    padding: min(1.5rem, 19px) min(2rem, 25px) min(1.7rem, 22px);
    font-size: min(2.1rem, 27px);
    line-height: min(2.6rem, 33px);
  }

  @media (min-width: variables.$desktop) {
    padding: min(1.5rem, 22px) min(2rem, 30px) min(1.7rem, 25px);
    font-size: min(2.1rem, 31px);
    line-height: min(2.6rem, 39px);
  }

  &:is(:hover, :focus) {
    background-color: variables.$color-primary-hover;
  }

  &:active {
    background-color: variables.$color-primary-active;
    color: rgba(255, 255, 255, .3);
  }

  &:disabled {
    background-color: variables.$color-primary-disabled;
    cursor: not-allowed;
  }
}
