@use "../common/variables.scss";

.card {
  counter-increment: number 1;
}

.card:has(img) {
  background-color: variables.$color-primary;

  @media (min-width: variables.$tablet) {
    display: grid;

    &:nth-child(odd) {
      grid-template-columns: 256px 1fr;
    }

    &:nth-child(even) {
      grid-template-columns: 1fr 256px;

      & .card__wrapper {
        order: 1;
      }
    }
  }

  & .card__wrapper {
    padding: 37px 18px;

    @media (min-width: variables.$tablet) {
      padding: 52px 33px 31px;
    }
  }

  :is(.card__title, .card__description) {
    color: variables.$text-special;
  }
}

.card:not(:has(img)) {
  background-color: variables.$color-secondary-background;

  &:not(:last-child)::after {
    content: "";
    display: block;
    width: calc(100% - 36px);
    height: 1px;
    margin: 0 auto;
    background-color: #d6d6d6;

    @media (min-width: variables.$tablet) {
      display: none;
    }
  }

  & .card__wrapper {
    padding: 24px 26px;

    @media (min-width: variables.$tablet) {
      padding: 41px 33px;
    }
  }
}

.card__title {
  margin: 0;
  margin-bottom: 11px;

  &::after {
    content: "— №" counter(number)" —";
    display: block;
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;

    @media (min-width: variables.$tablet) {
      margin-top: 12px;
    }
  }

  @media (min-width: variables.$tablet) {
    max-width: 155px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.card__description {
  margin: 0;
}

.card__image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;

  @media (min-width: variables.$tablet) {
    width: 512px;
    height: 256px;
  }
}

.card__services {
  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
  }
}
