@use "../common/variables.scss";

.card {
  counter-increment: number 1;
}

.card:has(img) {
  background-color: variables.$color-primary;

  &:nth-child(odd) {

    @media (min-width: variables.$tablet) {
      display: grid;
      grid-template-columns: min(25.6rem, 327px) 1fr;
    }

    @media (min-width: variables.$desktop) {
      grid-template-columns: min(40rem, 600px) 1fr;
    }
  }

  &:nth-child(even) {
    .card__wrapper {
      padding: min(3.7rem, 55px) min(1.8rem, 27px) min(3.6rem, 54px);

      @media (min-width: variables.$tablet) {
        padding: min(5.2rem, 66px) min(3.3rem, 42px) min(3.1rem, 39px);
      }

      @media (min-width: variables.$desktop) {
        padding: min(5.2rem, 78px) min(8.5rem, 127px) min(3.1rem, 46px);
      }
    }

    @media (min-width: variables.$tablet) {
      display: grid;
      grid-template-columns: 1fr min(25.6rem, 327px);

      & .card__wrapper {
        order: 1;
      }
    }

    @media (min-width: variables.$desktop) {
      grid-template-columns: 1fr min(40rem, 600px);
    }
  }

  & .card__wrapper {
    padding: min(3.3rem, 49px) min(1.8rem, 27px) min(3.9rem, 58px);

    @media (min-width: variables.$tablet) {
      padding: min(5.2rem, 66px) min(3.3rem, 42px) min(3rem, 38px);
    }

    @media (min-width: variables.$desktop) {
      padding: min(5.2rem, 78px) min(5rem, 75px) min(5.1rem, 76px);
    }
  }

  :is(.card__title, .card__description) {
    color: variables.$text-special;
  }
}

.card:not(:has(img)) {
  background-color: variables.$color-secondary-background;

  &:not(:last-child)::after {
    content: "";
    display: block;
    width: calc(100% - min(3.6rem));
    height: 1px;
    margin: 0 auto;
    background-color: #d6d6d6;

    @media (min-width: variables.$tablet) {
      display: none;
    }
  }

  & .card__wrapper {
    padding: min(2.4rem, 36px) min(2.6rem, 39px);

    @media (min-width: variables.$tablet) {
      padding: min(4.1rem, 52px) min(3.3rem, 42px) min(4.2rem, 53px);
    }

    @media (min-width: variables.$desktop) {
      padding: min(5.2rem, 78px) min(6rem, 90px) min(5.1rem, 76px);
    }
  }
}

.card__title {
  margin: 0;
  margin-bottom: min(1.7rem, 25px);

  @media (min-width: variables.$tablet) {
    max-width: min(15.5rem, 198px);
    margin: 0 auto;
    margin-bottom: min(2.3rem, 29px);
  }

  @media (min-width: variables.$desktop) {
    max-width: min(15.5rem, 232px);
    margin: 0 auto;
    margin-bottom: min(2.4rem, 36px);
  }

  &::after {
    content: "— №" counter(number)" —";
    display: block;
    margin-top: min(1.1rem, 16px);
    font-size: min(1.4rem, 21px);
    line-height: min(2.1rem, 31px);
    font-weight: 400;

    @media (min-width: variables.$tablet) {
      margin-top: min(1.2rem, 15px);
    }

    @media (min-width: variables.$desktop) {
      margin-top: min(.8rem, 12px);
    }
  }
}

.card__description {
  margin: 0;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__services {
  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
  }
}
