@use "../common/variables.scss";

.checkbox-input {
  display: grid;
  place-content: center;
  appearance: none;
  width: min(4.6rem, 69px);
  height: min(4.6rem, 69px);
  margin: 0;
  padding: 0;
  background-color: variables.$color-field-primary;
  transition: background-color .3s linear;

  @media (min-width: variables.$tablet) {
    width: min(4.6rem, 59px);
    height: min(4.6rem, 59px);
  }

  @media (min-width: variables.$desktop) {
    width: min(4.6rem, 69px);
    height: min(4.6rem, 69px);
  }

  &:checked::before {
    content: "";
    display: block;
    width: min(2.2rem, 33px);
    height: min(1.6rem, 24px);
    background-image: url("../img/sprite.svg#tick");
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .3s linear;

    @media (min-width: variables.$tablet) {
      width: min(2.2rem, 28px);
      height: min(1.6rem, 20px);
    }

    @media (min-width: variables.$desktop) {
      width: min(2.2rem, 33px);
      height: min(1.6rem, 24px);
    }
  }

  &:is(:hover, :focus, :focus-visible) {
    background-color: variables.$color-field-hover;
  }

  &:active {
    background-color: variables.$color-field-down;

    &:checked::before {
      opacity: .3;
    }
  }
}
