@use "../common/variables.scss";

.description {
  font-size: min(1.4rem, 21px);
  line-height: min(2.1rem, 31px);
  text-transform: uppercase;
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet) {
    font-size: min(1.4rem);
    line-height: min(2.1rem);
  }

  @media (min-width: variables.$desktop) {
    font-size: min(1.4rem);
    line-height: min(2.1rem);
  }
}
