@use "../common/variables.scss";

.field {
  padding: min(1.6rem, 24px);
  font-family: variables.$font-primary;
  font-size: min(1.8rem, 27px);
  line-height: min(2.6rem, 39px);
  font-weight: 700;
  color: variables.$text-primary;
  background-color: variables.$color-field-primary;
  border: none;

  @media (min-width: variables.$tablet) {
    padding: min(1.6rem, 20px);
    font-size: min(1.8rem, 23px);
    line-height: min(2.6rem, 33px);
  }

  @media (min-width: variables.$desktop) {
    padding: min(1.6rem, 24px);
    font-size: min(1.8rem, 27px);
    line-height: min(2.6rem, 39px);
  }

  &::placeholder {
    color: rgba(0, 0, 0, .3);
  }

  &:is(:hover, :focus) {
    background-color: variables.$color-field-hover;
  }

  &:active {
    background-color: variables.$color-secondary;
    outline: 4px solid variables.$color-field-hover;
  }
}
