@use "../common/variables.scss";

.footer {
  background-color: variables.$color-secondary;
}

.footer__wrapper {
  display: grid;
  justify-content: center;
  gap: min(3rem, 45px);
  padding: min(3.3rem, 49px) 0;

  @media (min-width: variables.$tablet) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0;
    padding: min(3.6rem) min(6rem);
  }

  @media (min-width: variables.$desktop) {
    padding: min(3.6rem) min(12rem);
  }
}

.footer__hashtag {
  text-align: center;
  margin: 0;
  font-size: min(2.1rem, 31px);
  line-height: min(2.6rem, 39px);
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    justify-self: start;
    font-size: min(2.1rem);
    line-height: min(2.6rem);
  }

  @media (min-width: variables.$desktop) {
    font-size: min(2.1rem);
    line-height: min(2.6rem);
  }
}

.footer__social {
  justify-self: center;
}

.footer__copyright {
  @media (min-width: variables.$tablet) {
    justify-self: end;
  }
}
