@use "../common/variables.scss";

.footer {
  background-color: variables.$color-secondary;
}

.footer__wrapper {
  display: grid;
  justify-content: center;
  gap: 30px;
  padding: 33px 0;

  @media (min-width: variables.$tablet) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0;
    padding: 36px 60px;
  }
}

.footer__hashtag {
  text-align: center;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    justify-self: start;
  }
}

.footer__social {
  justify-self: center;
}

.footer__copyright {
  @media (min-width: variables.$tablet) {
    justify-self: end;
  }
}
