@use "../common/variables.scss";

.footnote__text {
  font-size: min(1.2rem, 18px);
  line-height: min(2.1rem, 31px);
  text-transform: uppercase;
  color: rgba(51, 51, 51, .6);

  @media (min-width: variables.$tablet) {
    font-size: min(1.4rem, 18px);
    line-height: min(2.1rem, 27px);
    color: variables.$text-secondary;
  }

  @media (min-width: variables.$desktop) {
    font-size: min(1.4rem, 21px);
    line-height: min(2.1rem, 31px);
    color: variables.$text-secondary;
  }
}
