@use "../common/variables.scss";
@use "../common/mixins.scss";

.form {
  @media (min-width: variables.$tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__fieldset {
  position: relative;
  margin: 0;
  padding: min(2.5rem, 37px) 0;
  border: none;

  &:nth-child(1) {
    padding-bottom: min(4rem, 37px);

    @media (min-width: variables.$tablet) {
      grid-column: 1 / 2;
      margin-bottom: min(6.3rem, 80px);
      padding: 0;
      padding-right: min(2.8rem, 36px);
      border-right: 1px solid #dbdbdb;
    }

    @media (min-width: variables.$desktop) {
      margin-bottom: min(7.1rem, 106px);
      padding-right: min(4.9rem, 73px);
    }
  }

  &:nth-child(2) {
    padding-bottom: min(3.4rem, 51px);

    @media (min-width: variables.$tablet) {
      grid-column: 2 / 3;
      padding: 0;
      padding-left: min(2.8rem, 36px);
    }

    @media (min-width: variables.$desktop) {
      padding-left: min(4.9rem, 73px);
    }
  }

  &:nth-child(3) {
    padding-bottom: min(2.3rem, 34px);

    @media (min-width: variables.$tablet) {
      grid-column: 1 / -1;
      margin-bottom: min(4.8rem, 61px);
      padding: 0;
    }

    @media (min-width: variables.$desktop) {
      margin-bottom: min(5.4rem, 81px);
    }
  }

  &:nth-child(4) {
    padding-bottom: min(2.4rem, 36px);

    @media (min-width: variables.$tablet) {
      grid-column: 1 / -1;
      margin-bottom: min(4.2rem, 53px);
      padding: 0;
    }

    @media (min-width: variables.$desktop) {
      margin-bottom: min(5.8rem, 87px);
    }
  }

  &:nth-child(5) {
    @media (min-width: variables.$tablet) {
      grid-column: 1 / -1;
      padding: 0;
    }

    @media (min-width: variables.$desktop) {
      padding: 0 min(9.6rem, 144px);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2rem;
    width: calc(100% + 4rem);
    height: 1px;
    background-color: #e5e5e5;

    @media (min-width: variables.$tablet) {
      display: none;
    }
  }
}

.form__legend-wrapper {
  margin-bottom: min(2rem, 30px);

  @media (min-width: variables.$tablet) {
    margin-bottom: min(2.8rem, 36px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: min(2.8rem, 42px);
  }
}

.form__legend {
  margin: 0;
  margin-bottom: min(2rem, 30px);

  @media (min-width: variables.$tablet) {
    min-width: fit-content;
    margin-bottom: min(2.8rem, 36px);
    font-size: min(2.1rem, 27px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: min(2.8rem, 42px);
    font-size: min(2.1rem, 31px);
  }
}

.form__legend-wrapper .form__legend {
  margin: 0;
}

.form__list {
  @include mixins.list-reset;
  display: grid;
  gap: min(1.6rem, 24px);

  @media (min-width: variables.$tablet) {
    gap: min(1.6rem, 20px);

    &:has(input[type="radio"], input[type="checkbox"]) {
      grid-template-columns: repeat(2, 1fr);
    }

    &:has(input[type="radio"]) {
      padding: 0 min(3.6rem, 46px);
    }

    &:has(input[type="checkbox"]) {
      column-gap: min(3.1rem, 39px);
      padding: 0 min(8.4rem, 107px);
    }
  }

  @media (min-width: variables.$desktop) {
    gap: min(1.6rem, 24px);

    &:has(input[type="radio"]) {
      grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
      column-gap: min(7rem, 105px);
      padding: min(1.8rem, 27px) min(5.3rem, 79px);
    }

    &:has(input[type="checkbox"]) {
      grid-template-columns: repeat(auto-fit, minmax(153px, 1fr));
      column-gap: min(6.4rem, 96px);
      padding: min(3.1rem, 46px) min(4.4rem, 66px);
    }
  }
}

.form__item {
  display: grid;
  text-align: left;
}

.form__label {
  padding-left: min(1.6rem, 24px);

  @media (min-width: variables.$tablet) {
    padding-left: min(1.6rem, 20px);
  }

  @media (min-width: variables.$desktop) {
    padding-left: min(1.6rem, 24px);
  }
}

.form__control {
  display: flex;
  align-items: center;
  gap: min(1.6rem, 24px);

  @media (min-width: variables.$tablet) {
    gap: min(1.6rem, 20px);
  }

  @media (min-width: variables.$desktop) {
    gap: min(1.6rem, 24px);
  }
}

.form__control .form__label {
  padding: 0;
  font-size: min(1.8rem, 27px);
  line-height: min(2.6rem, 39px);
  font-weight: 700;
  text-transform: none;
  color: variables.$text-primary;

  @media (min-width: variables.$tablet) {
    font-size: min(1.8rem, 23px);
    line-height: min(2.6rem, 33px);
  }

  @media (min-width: variables.$desktop) {
    font-size: min(1.8rem, 27px);
    line-height: min(2.6rem, 39px);
  }
}

.form__textarea {
  width: 100%;
  min-height: min(15rem, 225px);

  @media (min-width: variables.$tablet) {
    min-height: min(16rem, 204px);
  }

  @media (min-width: variables.$desktop) {
    min-height: min(16rem, 240px);
  }
}

.form__footer {
  padding-top: min(2.8rem, 37px);

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: min(32.4rem, 413px) 1fr;
    align-items: center;
    padding-top: min(4.5rem, 57px);
  }

  @media (min-width: variables.$desktop) {
    grid-template-columns: min(38.4rem, 576px) 1fr;
    padding: min(4.4rem, 66px) min(9.6rem, 144px) 0;
  }
}

.form__button {
  width: 100%;
}

.form__footnote {
  margin: 0;
  text-align: right;
}
