@use "../common/variables.scss";
@use "../common/mixins.scss";

.form__fieldset {
  position: relative;
  margin: 0;
  padding: 25px 0;
  border: none;

  &:nth-child(1) {
    padding-bottom: 40px;
  }

  &:nth-child(2) {
    padding-bottom: 34px;
  }

  &:nth-child(3) {
    padding-bottom: 23px;
  }

  &:nth-child(4) {
    padding-bottom: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2rem;
    width: calc(100% + 4rem);
    height: 1px;
    background-color: #e5e5e5;

    @media (min-width: variables.$tablet) {
      display: none;
    }
  }
}

.form__legend {
  margin: 0;
  margin-bottom: 20px;
}

.form__list {
  @include mixins.list-reset;
  display: grid;
  gap: 16px;
}

.form__item {
  display: grid;
  text-align: left;
}

.form__label {
  padding-left: 16px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: variables.$text-secondary;
}

.form__control {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form__control .form__label {
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: variables.$text-primary;
}

.form__textarea {
  width: 100%;
  min-height: 150px;
}

.form__footer {
  padding-top: 28px;
}

.form__button {
  width: 100%;
}

.form__footnote {
  margin: 0;
  text-align: right;
}
