@use "../common/variables.scss";
@use "../common/mixins.scss";

.gallery {
  padding: min(3.7rem, 55px) min(2rem, 30px) 0;
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) {
    padding: min(6.6rem, 84px) min(6rem, 76px) min(2.9rem, 37px);
  }

  @media (min-width: variables.$desktop) {
    padding: min(10rem, 150px) 0 min(3.1rem, 46px);
  }
}

.gallery__title {
  margin: 0;
  margin-bottom: min(2.6rem, 39px);
  text-align: center;

  @media (min-width: variables.$tablet) {
    margin-bottom: min(3.2rem, 41px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: min(3.2rem, 48px);
  }
}

.gallery__description {
  margin: 0;
  margin-bottom: min(3.7rem, 55px);
  text-align: center;

  @media (min-width: variables.$tablet) {
    max-width: min(44.5rem, 568px);
    margin: 0 auto;
    margin-bottom: min(8.1rem, 103px);
  }

  @media (min-width: variables.$desktop) {
    max-width: min(44rem, 660px);
    margin-bottom: min(8.7rem, 130px);
  }
}

.gallery__list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: variables.$desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  &:nth-child(1) {
    @media (min-width: variables.$tablet) {
      grid-column: 1 / -1;
    }
  }
}
