@use "../common/variables.scss";
@use "../common/mixins.scss";

.gallery {
  padding: 37px 20px 0;
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) {
    padding: 66px 60px 29px;
  }

  @media (min-width: variables.$desktop) {
    padding: 100px 0 31px;
  }
}

.gallery__title {
  margin: 0;
  margin-bottom: 26px;
  text-align: center;

  @media (min-width: variables.$tablet) {
    margin-bottom: 32px;
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: 32px;
  }
}

.gallery__description {
  margin: 0;
  margin-bottom: 37px;
  text-align: center;

  @media (min-width: variables.$tablet) {
    max-width: 445px;
    margin: 0 auto;
    margin-bottom: 81px;
  }

  @media (min-width: variables.$desktop) {
    max-width: 460px;
    margin-bottom: 65px;
  }
}

.gallery__list {
  @include mixins.list-reset;

  @media (min-width: variables.$tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: variables.$desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  &:nth-child(1) {
    @media (min-width: variables.$tablet) {
      grid-column: 1 / -1;
    }
  }
}
