@use "../common/variables.scss";

.hero {
  min-height: min(38.9rem, 583px);
  padding-top: min(9rem, 135px);
  padding-bottom: min(8.5rem, 127px);
  background-color: #491213;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-width: variables.$tablet) {
    min-height: min(51.8rem);
    padding-top: min(7.7rem);
    padding-bottom: min(9rem);
    background-image: url("../img/hero-tablet.jpg");
  }

  @media (min-width: variables.$desktop) {
    min-height: min(51.8rem);
    padding-top: min(7.8rem);
    padding-bottom: min(9rem);
    background-image: url("../img/hero-desktop.jpg");
  }
}

.hero__image {
  display: block;
  width: min(28.2rem, 423px);
  height: min(21.4rem, 321px);
  margin: 0 auto;

  @media (min-width: variables.$tablet) {
    width: min(46rem);
    height: min(35rem);
  }

  @media (min-width: variables.$desktop) {
    width: min(46rem);
    height: min(35rem);
  }
}
