@use "../common/variables.scss";

.hotel-search {
  padding: min(4.1rem, 61px) min(1.8rem, 27px) min(4.9rem, 73px);
  text-align: center;
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) {
    padding: min(5.9rem, 75px) min(15.5rem, 198px) min(5.5rem, 70px);
  }

  @media (min-width: variables.$desktop) {
    padding: min(6rem, 90px) min(37.1rem, 556px) min(6.6rem, 99px);
  }
}

.hotel-search__title {
  margin: 0;
  margin-bottom: min(2rem, 30px);

  @media (min-width: variables.$tablet) {
    margin-bottom: min(3.2rem, 41px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: min(3.2rem, 48px);
  }
}

.hotel-search__description {
  margin: 0;
  margin-bottom: min(3.2rem, 48px);

  @media (min-width: variables.$tablet) {
    margin-bottom: min(4.5rem, 57px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: min(4.4rem, 66px);
  }

  br {
    @media (max-width: variables.$mobile) {
      display: none;
    }
  }
}
