@use "../common/variables.scss";

.hotel-search {
  padding: 38px 18px 49px;
  text-align: center;
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) {
    padding: 60px 155px 55px;
  }

  @media (min-width: variables.$desktop) {
    padding: 60px 371px 66px;
  }
}

.hotel-search__title {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: variables.$tablet) {
    margin-bottom: 32px;
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: 32px;
  }
}

.hotel-search__description.description {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: variables.$tablet) {
    margin-bottom: 44px;
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: 44px;
  }
}
