@use "../common/variables.scss";

.hotel-search {
  padding: min(4.1rem, 61px) min(1.8rem, 27px) min(4.9rem, 73px);
  text-align: center;
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) {
    padding: min(5.9rem) min(15.5rem) min(5.5rem);
  }

  @media (min-width: variables.$desktop) {
    padding: min(6rem) min(37.1rem) min(6.6rem);
  }
}

.hotel-search__title {
  margin: 0;
  margin-bottom: min(2rem, 30px);

  @media (min-width: variables.$tablet) {
    margin-bottom: min(3.2rem);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: min(3.2rem);
  }
}

.hotel-search__description {
  margin: 0;
  margin-bottom: min(3.2rem, 48px);

  @media (min-width: variables.$tablet) {
    margin-bottom: min(4.5rem);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: min(4.4rem);
  }

  br {
    @media (max-width: variables.$mobile) {
      display: none;
    }
  }
}
