@use "../common/variables.scss";

.location {
  padding-bottom: 8px;

  @media (min-width: variables.$tablet) {
    padding: 0;
  }
}

.location__map-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
