@use "../common/variables.scss";

.location {
  padding-bottom: min(.8rem, 12px);
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) {
    padding: 0;
  }
}

.location__map {
  width: 100%;
  height: min(35rem, 525px);

  @media (min-width: variables.$tablet) {
    height: min(35rem, 447px);
  }

  @media (min-width: variables.$desktop) {
    height: min(35rem, 525px);
  }
}

.location__map-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
