@use "../common/variables.scss";

.logo__image {
  width: 185px;
  height: 96px;

  @media (min-width: variables.$tablet) {
    width: 186px;
    height: 96px;
  }

  @media (min-width: variables.$desktop) {
    width: 185px;
    height: 96px;
  }
}
