@use "../common/variables.scss";

.logo {
  width: min(18.6rem, 279px);
  height: min(9.6rem, 144px);

  @media (min-width: variables.$tablet) {
    width: min(18.6rem, 237px);
    height: min(9.6rem, 122px);
  }

  @media (min-width: variables.$desktop) {
    width: min(18.6rem, 248px);
    height: min(9.6rem, 128px);
  }

  &:is(:hover, :focus) .logo__image {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  width: 100%;
  max-width: 100%;
  height: auto;
}
