@use "../common/variables.scss";

.logo {
  width: min(18.6rem, 279px);
  height: min(9.6rem, 144px);

  @media (min-width: variables.$tablet) {
    width: min(18.6rem);
    height: min(9.6rem);
  }

  @media (min-width: variables.$desktop) {
    width: min(18.6rem);
    height: min(9.6rem);
  }
}

.logo__image {
  width: 100%;
  max-width: 100%;
  height: auto;
}
