@use "../common/variables.scss";

.message {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.message__wrapper {
  position: relative;
  width: min(32rem, 480px);
  margin: 0 auto;
  margin-top: 116px;
  text-align: center;
  text-wrap: balance;
  color: variables.$text-primary;
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) {
    width: min(40rem, 510px);
    margin-top: 283px;
  }

  @media (min-width: variables.$desktop) {
    width: min(40rem, 600px);
    margin-top: 244px;
  }
}

.message__title {
  margin: 0;
  margin-bottom: min(2.5rem, 37px);
  font-size: min(1.8rem, 27px);
  line-height: min(2.6rem, 39px);
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    margin-bottom: min(2.3rem, 29px);
    font-size: min(3rem, 38px);
    line-height: min(4rem, 51px);
  }

  @media (min-width: variables.$tablet) {
    margin-bottom: min(2.3rem, 34px);
    font-size: min(3rem, 45px);
    line-height: min(4rem, 60px);
  }
}

.message__text {
  margin: 0;
}

.message__button {
  width: 100%;
  font-size: min(1.8rem, 27px);

  @media (min-width: variables.$tablet) {
    font-size: min(2.1rem, 27px);
  }

  @media (min-width: variables.$desktop) {
    font-size: min(2.1rem, 31px);
  }
}

.message--error {
  & .message__wrapper {
    padding: min(4.5rem, 67px) min(4.2rem, 63px) 0;

    @media (min-width: variables.$tablet) {
      padding: min(4.8rem, 61px) min(4.6rem, 59px) 0;
    }

    @media (min-width: variables.$desktop) {
      padding: min(4.8rem, 72px) min(4.6rem, 69px) 0;
    }
  }

  & .message__text {
    margin-bottom: min(1.4rem, 21px);

    @media (min-width: variables.$tablet) {
      margin-bottom: min(3.3rem, 42px);
    }

    @media (min-width: variables.$desktop) {
      margin-bottom: min(3.3rem, 49px);
    }
  }

  & .message__footer {
    padding: min(1.4rem, 21px) min(2.8rem, 42px) min(3.5rem, 52px);

    @media (min-width: variables.$tablet) {
      padding: min(1.4rem, 18px) min(1.8rem, 23px) min(4.9rem, 62px);
    }

    @media (min-width: variables.$desktop) {
      padding: min(1.4rem, 21px) min(1.8rem, 27px) min(4.9rem, 73px);
    }
  }
}

.message--success {
  & .message__wrapper {
    padding: min(3.9rem, 58px) min(3.8rem, 57px) 0;

    @media (min-width: variables.$tablet) {
      width: min(64rem, 817px);
      margin-top: 162px;
      padding: min(4.4rem, 56px) min(9.7rem, 124px) 0;
    }

    @media (min-width: variables.$desktop) {
      width: min(64rem, 960px);
      margin-top: 145px;
      padding: min(4.4rem, 66px) min(9.7rem, 145px) 0;
    }
  }

  & .message__text {
    margin-bottom: min(5.1rem, 76px);

    @media (min-width: variables.$tablet) {
      margin-bottom: min(5.2rem, 66px);
    }

    @media (min-width: variables.$desktop) {
      margin-bottom: min(5.2rem, 78px);
    }
  }

  & .message__footer {
    width: calc(100% + min(7.6rem, 114px));
    margin-left: max(-3.8rem, -57px);
    padding: min(2rem);
    background-color: #f2f2f2;

    @media (min-width: variables.$tablet) {
      width: calc(100% + min(19.4rem, 248px));
      margin-left: max(-9.7rem, -124px);
      padding: min(4.4rem, 56px) min(9.1rem, 116px);
    }

    @media (min-width: variables.$desktop) {
      width: calc(100% + min(19.4rem, 290px));
      margin-left: max(-9.7rem, -145px);
      padding: min(4.4rem, 66px) min(9.1rem, 136px);
    }
  }
}
