@use "../common/variables.scss";
@use "../common/mixins.scss";

.navigation {
  padding: min(1.7rem, 25px) min(2rem, 22px);

  @media (min-width: variables.$tablet) {
    padding: 0;
  }
}

.navigation__hat {
  position: relative;
  display: flex;
  align-items: center;
}

.navigation__logo {
  position: absolute;
  left: 50%;
  top: max(-1.7rem, -25px);
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: variables.$tablet) {
    top: 0;
  }
}

.navigation__button {
  position: relative;
  width: min(2.3rem, 34px);
  height: min(2.2rem, 33px);
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;

  @media (min-width: variables.$tablet) {
    display: none;
  }

  :is(:hover, :focus) {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__toggle,
.navigation__toggle::before,
.navigation__toggle::after {
  position: absolute;
  width: min(2.3rem, 34px);
  height: min(.4rem, 6px);
  background-color: variables.$color-primary;
  transition: 0.3s;
}

.navigation__toggle {
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  &::before {
    content: "";
    top: min(.9rem, 12px);
    left: 0;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &::after {
    content: "";
    right: 0;
    bottom: min(.9rem, 12px);
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.navigation__toggle--open {
  background-color: transparent;

  &::before {
    content: "";
    top: 0;
    background-color: variables.$color-secondary;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  &::after {
    content: "";
    bottom: 0;
    width: 100%;
    background-color: variables.$color-secondary;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}

.navigation__list {
  @include mixins.list-reset;

  @media (max-width: variables.$mobile) {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    background-color: variables.$color-primary;
    z-index: 2;
    transform: translateY(-22.6rem);
    transition: transform 0.5s;


    &--open {
      transform: translateY(0);
      transition: transform 0.5s;
    }
  }

  @media (min-width: variables.$tablet) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.navigation__item {
  text-align: center;

  @media (max-width: variables.$mobile) {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(1, 1, 1, .2);
    }

    &:not(:first-child) {
      border-top: 1px solid rgba(255, 255, 255, .2);
    }

    &:last-child {
      box-shadow: 0 max(-.7rem, -10.5px) max(.7rem, 10.5px) max(-.5rem, -7.5px) rgba(0, 0, 0, 0.2) inset;
    }
  }

  @media (min-width: variables.$tablet) {
    &:nth-of-type(4n - 1) {
      grid-column-start: 4;
    }
  }
}

.navigation__link {
  display: block;
  padding: min(1.8rem, 27px) 0 min(1rem, 15px);
  font-size: min(1.8rem, 27px);
  line-height: min(2.6rem, 39px);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: variables.$text-special;

  &--current {
    cursor: default;
  }

  @media (max-width: variables.$mobile) {
    background-color: variables.$color-primary;

    &:not(&--current) {
      &:is(:hover, :focus) {
        background-color: variables.$color-primary-hover;
      }

      &:active {
        background-color: variables.$color-primary-active;
        color: rgba(255, 255, 255, .3);
      }

      &:disabled {
        background-color: variables.$color-primary-disabled;
      }
    }
  }

  @media (min-width: variables.$tablet) {
    padding: min(1.8rem, 23px) 0 min(1.7rem, 22px);
    font-size: min(1.4rem, 18px);
    line-height: min(2.1rem, 27px);
    color: variables.$text-primary;

    &:not(&--current) {
      &:is(:hover, :focus) {
        color: variables.$text-primary-hover;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &--current {
      color: variables.$text-primary-current;
    }
  }

  @media (min-width: variables.$desktop) {
    padding: min(1.8rem, 27px) 0 min(1.7rem, 25px);
    font-size: min(1.4rem, 21px);
    line-height: min(2.1rem, 31px);
  }
}
