@use "../common/variables.scss";

.presentation {
  padding: min(1.7rem, 25px) min(2rem, 30px) 0;
  text-align: center;
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) {
    padding: min(2.7rem, 34px) min(6rem, 76px) min(4rem, 51px);
  }

  @media (min-width: variables.$desktop) {
    padding: min(2.9rem, 43px) min(20rem, 300px) min(8.4rem, 126px);
  }
}

.presentation__title {
  margin: 0;
  margin-bottom: min(2.7rem, 40px);

  @media (min-width: variables.$tablet) {
    margin-bottom: min(3.2rem, 41px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: min(3.2rem, 48px);
  }
}

.presentation__description {
  max-width: min(27.7rem, 415px);
  margin: 0 auto;
  margin-bottom: min(3.8rem, 57px);

  @media (min-width: variables.$tablet) {
    max-width: min(44.5rem, 568px);
    margin-bottom: min(8.9rem, 113px);
  }

  @media (min-width: variables.$desktop) {
    max-width: min(44.5rem, 667px);
    margin-bottom: min(8.7rem, 130px);
  }
}
