@use "../common/variables.scss";

.presentation {
  padding: 17px 20px 0;
  text-align: center;
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) {
    padding: 27px 60px 40px;
  }

  @media (min-width: variables.$desktop) {
    padding: 31px 200px 84px;
  }
}

.presentation__title {
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: variables.$tablet) {
    margin-bottom: 32px;
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: 32px;
  }
}

.presentation__description {
  max-width: 277px;
  margin: 0 auto;
  margin-bottom: 38px;

  @media (min-width: variables.$tablet) {
    max-width: 445px;
    margin-bottom: 89px;
  }

  @media (min-width: variables.$desktop) {
    max-width: 445px;
    margin-bottom: 64px;
  }
}
