@use "../common/variables.scss";

.product-card {
  position: relative;
  display: grid;
  padding: 24px 0 26px;

  @media (min-width: variables.$tablet) {
    padding: 0;
  }

  @media (min-width: variables.$desktop) {
    grid-template-rows: auto auto;
  }

  &::before,
  &:last-child::after {
    content: "";
    position: absolute;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: #e5e5e5;

    @media (min-width: variables.$tablet) {
      display: none;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.product-card__image-wrapper {
  margin-bottom: 15px;

  @media (min-width: variables.$tablet) {
    margin: 0;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.product-card__image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

.product-card__content-wrapper {
  @media (min-width: variables.$tablet) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-flow: dense;
    align-items: center;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    color: variables.$text-special;
    background-color: rgba(0, 0, 0, .3);
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / 2;
    margin-bottom: 1px;
    font-size: 14px;
    line-height: 21px;
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: 1px;
    font-size: 14px;
    line-height: 21px;
  }
}

.product-card__author {
  margin: 0;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / 2;
    margin: 0;
    font-size: 14px;
    line-height: 21px;
  }

  @media (min-width: variables.$desktop) {
    font-size: 14px;
    line-height: 21px;
    color: inherit;
  }
}

.product-card__likes {
  display: flex;
  column-gap: 14px;
  margin: 0;

  @media (min-width: variables.$tablet) {
    grid-column: 2 / 3;
    grid-row: span 2;
    column-gap: 9px;
  }

  @media (min-width: variables.$desktop) {
    column-gap: 9px;
  }

  &::before {
    content: "";
    display: block;
    width: 23px;
    height: 21px;
    background-image: url("../img/sprite.svg#like-icon");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: variables.$tablet) {
      width: 23px;
      height: 21px;
    }

    @media (min-width: variables.$desktop) {
      background-image: url("../img/sprite.svg#like-icon-special");
    }
  }
}

.product-card__likes-count {
  padding-top: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    font-size: 14px;
    line-height: 21px;
  }

  @media (min-width: variables.$desktop) {
    font-size: 14px;
    line-height: 21px;
  }
}
