@use "../common/variables.scss";
@use "../common/mixins.scss";

.services {
  padding: 23px 18px 45px;
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) {
    padding: 0;
  }
}

.services__list {
  @include mixins.list-reset;
  display: grid;
  gap: 24px;

  @media (min-width: variables.$tablet) {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
}

.services__item {
  display: grid;
  column-gap: 7px;
  row-gap: 16px;
  text-align: left;

  @media (min-width: variables.$tablet) {
    row-gap: 22px;
    padding: 36px 37px 60px;
    text-align: center;
  }

  @media (min-width: variables.$desktop) {
    row-gap: 23px;
    padding: 44px 50px 69px;
  }

  &::before {
    content: "";
    grid-column: 1 / 2;
    grid-row: span 2;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: variables.$tablet) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }

    @media (min-width: variables.$desktop) {
      width: 100px;
      height: 100px;
    }
  }

  &--house::before {
    background-image: url("../img/sprite.svg#house-mobile");

    @media (min-width: variables.$tablet) {
      background-image: url("../img/sprite.svg#house");
    }
  }

  &--food::before {
    background-image: url("../img/sprite.svg#food-mobile");

    @media (min-width: variables.$tablet) {
      background-image: url("../img/sprite.svg#food");
    }
  }

  &--gift::before {
    background-image: url("../img/sprite.svg#gift-mobile");

    @media (min-width: variables.$tablet) {
      background-image: url("../img/sprite.svg#gift");
    }
  }
}

.services__title {
  grid-column: 2 / 3;
  margin: 0;
  margin-top: 8px;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    margin: 0;
  }
}

.services__description {
  grid-column: 2 / 3;
  margin: 0;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
  }

  @media (max-width: 1023px) {
    br {
      display: none;
    }
  }
}
