@use "../common/variables.scss";
@use "../common/mixins.scss";

.services {
  padding: min(2.3rem, 34px) min(1.8rem, 27px) min(4.5rem, 67px);
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) {
    padding: 0;
  }
}

.services__list {
  @include mixins.list-reset;
  display: grid;
  row-gap: min(2.4rem, 36px);

  @media (min-width: variables.$tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.services__item {
  display: grid;
  column-gap: min(.7rem, 10px);
  row-gap: min(1.6rem, 24px);
  text-align: left;

  @media (min-width: variables.$tablet) {
    row-gap: min(2.2rem, 28px);
    padding: min(3.6rem, 46px) min(3.7rem, 47px) min(6rem, 76px);
    text-align: center;
  }

  @media (min-width: variables.$desktop) {
    row-gap: min(2.3rem, 34px);
    padding: min(4.4rem, 66px) min(5rem, 75px) min(6.9rem, 103px);
  }

  &::before {
    content: "";
    grid-column: 1 / 2;
    grid-row: span 2;
    width: min(4rem, 60px);
    height: min(4rem, 60px);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: variables.$tablet) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      width: min(10rem, 125px);
      height: min(10rem, 125px);
      margin: 0 auto;
    }

    @media (min-width: variables.$desktop) {
      width: min(10rem, 150px);
      height: min(10rem, 150px);
    }
  }

  &--house::before {
    background-image: url("../img/sprite.svg#house");
  }

  &--food::before {
    background-image: url("../img/sprite.svg#food");
  }

  &--gift::before {
    background-image: url("../img/sprite.svg#gift");
  }
}

.services__title {
  grid-column: 2 / 3;
  margin: 0;
  margin-top: 8px;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    margin: 0;
  }
}

.services__description {
  grid-column: 2 / 3;
  margin: 0;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
  }

  @media (max-width: 1023px) {
    br {
      display: none;
    }
  }
}
