@use "../common/variables.scss";
@use "../common/mixins.scss";

.social {
  @include mixins.list-reset;
  display: flex;
  gap: 6px;

  @media (min-width: variables.$tablet) {
    gap: 6px;
  }

  @media (min-width: variables.$desktop) {
    gap: 6px;
  }
}

.social__link {
  display: grid;
  place-content: center;
  width: 48px;
  height: 48px;
  background-color: variables.$color-primary;

  @media (min-width: variables.$tablet) {
    width: 48px;
    height: 48px;
  }

  @media (min-width: variables.$desktop) {
    width: 48px;
    height: 48px;
  }

  &:is(:hover, :focus) {
    background-color: variables.$color-primary-hover;
  }

  &:active {
    background-color: variables.$color-primary-active;

    & .social__icon {
      opacity: 0.3;
    }
  }
}
