@use "../common/variables.scss";

.title {
  font-size: min(2.1rem, 31px);
  line-height: min(2.7rem, 40px);
  font-weight: 700;
  text-transform: uppercase;
  text-wrap: balance;
  color: variables.$text-primary;

  @media (min-width: variables.$tablet) {
    font-size: min(3rem, 38px);
    line-height: min(2.7rem, 34px);
  }

  @media (min-width: variables.$desktop) {
    font-size: min(3rem, 45px);
    line-height: min(2.9rem, 43px);
  }

  &--primary {
    font-size: min(1.8rem, 27px);

    @media (min-width: variables.$tablet) {
      font-size: min(2.1rem, 27px);
    }

    @media (min-width: variables.$desktop) {
      font-size: min(2.1rem, 31px);
    }
  }

  &--secondary {
    font-size: min(1.8rem, 27px);
    line-height: min(2.6rem, 39px);

    @media (min-width: variables.$tablet) {
      font-size: min(3rem, 38px);
      line-height: min(2.6rem, 33px);
    }

    @media (min-width: variables.$desktop) {
      font-size: min(3rem, 45px);
      line-height: min(2.6rem, 39px);
    }
  }
}
