@use "../common/variables.scss";

.title {
  font-size: 21px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-wrap: balance;
  color: variables.$text-primary;

  @media (min-width: variables.$tablet) {
    font-size: 30px;
    line-height: 27px;
  }

  @media (min-width: variables.$desktop) {
    font-size: 30px;
    line-height: 29px;
  }

  &--primary {
    font-size: 18px;

    @media (min-width: variables.$tablet) {
      font-size: 21px;
    }

    @media (min-width: variables.$desktop) {
      font-size: 21px;
    }
  }

  &--secondary {
    font-size: 18px;
    line-height: 26px;

    @media (min-width: variables.$tablet) {
      font-size: 30px;
      line-height: 26px;
    }
  }
}
