//Viewports-width
$mobile: 639px;
$tablet: 640px;
$desktop: 1024px;
//Text-color
$text-primary: #000000;
$text-secondary: #ffffff;
//Colors
$color-primary: #81b3d2;
$color-secondary: #ffffff;
$color-secondary-background: #eeeeee;
$color-error: #ff8282;
//States
$text-secondary-active: rgba(255, 255, 255, .3);
$color-primary-hover: #669ec0;
$color-primary-active: #5496bd;
$color-primary-disabled: #e5e5e5;
//Fotnts
$font-primary: "PT Sans", "Arial", sans-serif;
