//Viewports-width
$mobile: 639px;
$tablet: 640px;
$desktop: 1024px;
//Text-color
$text-primary: #000000;
$text-secondary: #333333;
$text-special: #ffffff;
//Colors
$color-primary: #81b3d2;
$color-secondary: #ffffff;
$color-secondary-background: #eeeeee;
$color-error: #ff5757;
$color-field-primary: #f2f2f2;
$color-field-secondary: #e6e6e6;
$color-field-hover: #e5e5e5;
$color-field-down: #d5d5d5;
//States
$text-primary-hover: #81b3d2;
$text-primary-active: #b3b3b3;
$text-primary-current: #766357;
$text-secondary-active: rgba(255, 255, 255, .3);
$color-primary-hover: #669ec0;
$color-primary-active: #5496bd;
$color-primary-disabled: #e5e5e5;
//Fotnts
$font-primary: "PT Sans", "Arial", sans-serif;
