mixin footer
  footer.footer
    .footer__wrapper
      p.footer__hashtag
      ul.social
        li.social__item
          a.social__link(href='#')
            span.visually-hidden Вконтакте.
        li.social__item
          a.social__link(href='#')
            span.visually-hidden Телеграм.
        li.social__item
          a.social__link(href='#')
            span.visually-hidden Ютуб.
      a.footer__copyright.academy-logo(
        href='https://htmlacademy.ru/intensive/adaptive'
        aria-label='Сайт HTML Academy.'
        target='_blank')
        span.academy-logo__text Разработано
