mixin head(name)
    head
      meta(charset='UTF-8')
      meta(name='description' content='Идеальный городок для туризма')
      meta(name='keywords' content='туристический город, путешествия, Аризона')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      include ../_links.pug
      include ../_scripts.pug
      title Седона: #{name}
